@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.index{
    background-color: #FAFAFA;
}


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  
  
}

.default-button-1{
  background-color: #D87D4A;
  height: 48px;
  width: 160px;
}